
<!--HEADER DIRECTIVE-->
<homenav></homenav>

<!--*********SUB MENU************-->
<submenu></submenu>

 <section class="md-familymemeber">
	<div class="container md-container5box">
		<div class="row ">
	        <div class="col s12 m12 l12">
	       		 <h6 class="md-familyhding">Form Category</h6>
	        </div>
	         <div class="col s12 m12 l12">
	         	<div class="col s3 m3 l3">
	         		<div class="md-newform md-formbox1">
	         			<p class="md-formboxtxt"><i class="fa fa-plus-circle md-formplus" aria-hidden="true"></i> &nbsp;&nbsp;New Form</p>
	         		</div>
	         	</div>
	         	<div class="col s3 m3 l3 mbt10 flip">
	         		<div class="md-newform md-formbox2">
	         			<p class="md-formboxtxt">Blood Pressure</p>
	         		</div>
	         	</div>
	         	<div class="col s3 m3 l3 mbt10">
	         		<div class="md-newform md-formbox3">
	         			<p class="md-formboxtxt">Sugar</p>
	         		</div>
	         	</div>
	         	<div class="col s3 m3 l3 mbt10">
	         		<div class="md-newform md-formbox4">
	         			<p class="md-formboxtxt">Blood Pressure</p>
	         		</div>
	         	</div>
	         	<div class="col s3 m3 l3 mbt10">
	         		<div class="md-newform md-formbox4">
	         			<p class="md-formboxtxt">Blood Pressure</p>
	         		</div>
	         	</div>
	         	<div class="col s3 m3 l3 mbt10">
	         		<div class="md-newform md-formbox4">
	         			<p class="md-formboxtxt">Blood Pressure</p>
	         		</div>
	         	</div>
	         </div>
	         <div class="col s12 m12 l12 md-newentrybox">
	         	 <div class="col s12 m12 l12 md-formboxonhv">
	         		 <div class="col s3 m3 l3 mbt20">
	         		 	<div class="md-formhoverbox">
	         		 		<p class="md-formboxtxt"><i class="fa fa-plus-circle md-formplus" aria-hidden="true"></i></p>
	         		 		<p class="md-formboxtxt">Create New Entry</p>
	         		 	</div>
	         		 </div>
	         		 <div class="col s3 m3 l3 mbt20">
	         		 	<div class="md-formwhite">
	         		 		<p class="md-formpar"><span class="md-formdai">Diastolis:</span> 130 mm Hg</p>
	         		 		<p class="md-formpar"><span class="md-formdai">Diastolis: </span>130 mm Hg</p>
	         		 	</div>
	         		 	<div class="md-fromdate">
	         		 		<p class="md-dateicon"><i class="fa fa-calendar " aria-hidden="true"></i>&nbsp;12 Jan 2017</p>
	         		 	</div>
	         		 </div>
	         		 <div class="col s3 m3 l3 mbt20">
	         		 	<div class="md-formwhite">
	         		 		<p class="md-formpar"><span class="md-formdai">Diastolis:</span> 130 mm Hg</p>
	         		 		<p class="md-formpar"><span class="md-formdai">Diastolis: </span>130 mm Hg</p>
	         		 	</div>
	         		 	<div class="md-fromdate">
	         		 		<p class="md-dateicon"><i class="fa fa-calendar " aria-hidden="true"></i>&nbsp;12 Jan 2017</p>
	         		 	</div>
	         		 </div>
	         		 <div class="col s3 m3 l3 mbt20">
	         		 	<div class="md-formwhite">
	         		 		<p class="md-formpar"><span class="md-formdai">Diastolis:</span> 130 mm Hg</p>
	         		 		<p class="md-formpar"><span class="md-formdai">Diastolis: </span>130 mm Hg</p>
	         		 	</div>
	         		 	<div class="md-fromdate">
	         		 		<p class="md-dateicon"><i class="fa fa-calendar " aria-hidden="true"></i>&nbsp;12 Jan 2017</p>
	         		 	</div>
	         		 </div>
	         		 <div class="col s3 m3 l3 mbt20">
	         		 	<div class="md-formwhite">
	         		 		<p class="md-formpar"><span class="md-formdai">Diastolis:</span> 130 mm Hg</p>
	         		 		<p class="md-formpar"><span class="md-formdai">Diastolis: </span>130 mm Hg</p>
	         		 	</div>
	         		 	<div class="md-fromdate">
	         		 		<p class="md-dateicon"><i class="fa fa-calendar " aria-hidden="true"></i>&nbsp;12 Jan 2017</p>
	         		 	</div>
	         		 </div>
	         		 <div class="col s3 m3 l3 mbt20">
	         		 	<div class="md-formwhite">
	         		 		<p class="md-formpar"><span class="md-formdai">Diastolis:</span> 130 mm Hg</p>
	         		 		<p class="md-formpar"><span class="md-formdai">Diastolis: </span>130 mm Hg</p>
	         		 	</div>
	         		 	<div class="md-fromdate">
	         		 		<p class="md-dateicon"><i class="fa fa-calendar " aria-hidden="true"></i>&nbsp;12 Jan 2017</p>
	         		 	</div>
	         		 </div>
	         		  <div class="col s3 m3 l3 mbt20">
	         		 	<div class="md-formwhite">
	         		 		<p class="md-formpar"><span class="md-formdai">Diastolis:</span> 130 mm Hg</p>
	         		 		<p class="md-formpar"><span class="md-formdai">Diastolis: </span>130 mm Hg</p>
	         		 	</div>
	         		 	<div class="md-fromdate">
	         		 		<p class="md-dateicon"><i class="fa fa-calendar " aria-hidden="true"></i>&nbsp;12 Jan 2017</p>
	         		 	</div>
	         		 </div>
	         		  <div class="col s3 m3 l3 mbt20">
	         		 	<div class="md-formhoverbox">
	         		 		<p class="md-formboxtxt"><i class="fa fa-ellipsis-h md-formplus" aria-hidden="true"></i></p>
	         		 		<p class="md-formboxtxt">More</p>
	         		 	</div>
	         		 </div>
	         	</div>
	         </div>
	         <div class="col s12 m12 l12"><br>
	       		 <h6 class="md-familyhding">Blood pressure</h6>
	        </div>
	        <div class="col s12 m12 l12">
	       		<img src="assets/images/graph.png" class="responsive-img">
	        </div>
	     </div>
	 </div>
</section>
<!-- testing related -->
 <section>
 	
 </section>       

<!--*********PROFILE SECTION************-->
<footer></footer>

<script type="text/javascript">
    $('.fixed-action-btn').openFAB();
  $('.fixed-action-btn').closeFAB();   
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });

    $(document).ready(function() {
		$(".flip").click(function() {
			$(".md-newentrybox").slideToggle("slow");
		});
	});   
</script>