
<!--HEADER DIRECTIVE-->
<homenav></homenav>

<!--*********SUB MENU************-->
<submenu></submenu>

<!--*********PROFILE SECTION************-->
<profileinfo></profileinfo>

<section>
	<div class="container md-timelinecontainer">
		<div class="row">
		 <div class="col s12">
		    <div class="col s12 l8 m8">
		      <ul class="tabs ">
		        <li class="tab col s2 l2 m2"><a class="active" href="#test1">2017</a></li>
		        <li class="tab col s2 l2 m2"><a  href="#test2">2018</a></li>
		        <li class="tab col s2 l2 m2"><a href="#test3">2019</a></li>
		        <li class="tab col s2 l2 m2"><a href="#test4">2020</a></li>
		        <li class="tab col s2 l2 m2"><a href="#test5">2021</a></li>
		        <li class="tab col s2 l2 m2"><a href="#test6">2022</a></li>
		      </ul>
		    </div>
	     	<div class=" col s2">
  				<a class="waves-effect waves-light btn md-prfviewbtn md-mt5">Transfer Records</a>
  			</div>
  			 <div id="test1" class="col s12">
  			 	<section>
	<div class="container md-timelinecontainer">
    <div class="row">
    <div class="col l12 m12 s12">
    	<ul class="timeline">
    	<div class="md-monthname">Month Name</div>
       		<li>
                <div class="timeline-description">
                		<p class="md-timelinecircle md-checkupcir"><img src="assets/images/boxicons/check-up.png" class="md-tmlimg"></p>
                	
                	<div class="md-timelinecnt md-checkupleftline">
                		<p class="rw-btm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed erat consectetur, tempor odio sit amet, euismod sapien.</p>
                	</div>
                	<div class="md-timelineline"></div>
                	<div class="md-report">
                		<img src="assets/images/defaulterror/default-image.jpg" class="md-imagereport" >
                	</div>
                	<div class="md-report">
                		<img src="assets/images/defaulterror/default-image.jpg" class="md-imagereport">
                	</div>
                	<div class="md-report">
                		<img src="assets/images/defaulterror/default-image.jpg" class="md-imagereport">
                	</div>
                	<div class="md-reportlastupdate">
                	<p class="rw-btm">Last Updated 05:30 PM</p>
                	</div>
                </div>
            </li>
             <li>
                <div class="timeline-description">
                		<p class="md-timelinecircle md-illinescir"><img src="assets/images/boxicons/illness.png" class="md-tmlimg"></p>
                	
                	<div class="md-timelinecnt md-illinesleftline">
                		<p class="rw-btm">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                	</div>
                	<div class="md-timelineline"></div>
                	<div class="md-report">
                		<img src="assets/images/defaulterror/default-image.jpg" class="md-imagereport" >
                	</div>
                	<div class="md-report">
                		<img src="assets/images/defaulterror/default-image.jpg" class="md-imagereport">
                	</div>
                	<div class="md-report">
                		<img src="assets/images/defaulterror/default-image.jpg" class="md-imagereport">
                	</div>
                	<div class="md-reportlastupdate">
                	<p class="rw-btm">Last Updated 05:30 PM</p>
                	</div>
                </div>
            </li>
             <li>
                <div class="timeline-description">
                		<p class="md-timelinecircle md-surgerycir"><img src="assets/images/boxicons/surgery.png" class="md-tmlimg"></p>
                	
                	<div class="md-timelinecnt md-surgeryleftline">
                		<p class="rw-btm">Lorem ipsum dolor sit amet </p>
                	</div>
                	<div class="md-timelineline"></div>
                	<div class="md-report">
                		<img src="assets/images/defaulterror/default-image.jpg" class="md-imagereport" >
                	</div>
                	<div class="md-report">
                		<img src="assets/images/defaulterror/default-image.jpg" class="md-imagereport">
                	</div>
                	<div class="md-report">
                		<img src="assets/images/defaulterror/default-image.jpg" class="md-imagereport">
                	</div>
                	<div class="md-reportlastupdate">
                	<p class="rw-btm">Last Updated 05:30 PM</p>
                	</div>
                </div>
            </li>
            <li>
                <div class="timeline-description">
                		<p class="md-timelinecircle md-medcir"><img src="assets/images/boxicons/medication.png" class="md-tmlimg"></p>
                	
                	<div class="md-timelinecnt md-medleftline">
                		<p class="rw-btm">Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet </p>
                	</div>
                	<div class="md-timelineline"></div>
                	<div class="md-report">
                		<img src="assets/images/defaulterror/default-image.jpg" class="md-imagereport" >
                	</div>
                	<div class="md-report">
                		<img src="assets/images/defaulterror/default-image.jpg" class="md-imagereport">
                	</div>
                	<div class="md-report">
                		<img src="assets/images/defaulterror/default-image.jpg" class="md-imagereport">
                	</div>
                	<div class="md-reportlastupdate">
                	<p class="rw-btm">Last Updated 05:30 PM</p>
                	</div>
                </div>
            </li>
            <li>
                <div class="timeline-description">
                		<p class="md-timelinecircle md-immcir"><img src="assets/images/boxicons/immunization.png" class="md-tmlimg"></p>
                	
                	<div class="md-timelinecnt md-imnleftline">
                		<p class="rw-btm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                	</div>
                	<div class="md-timelineline"></div>
                	<div class="md-report">
                		<img src="assets/images/defaulterror/default-image.jpg" class="md-imagereport" >
                	</div>
                	<div class="md-report">
                		<img src="assets/images/defaulterror/default-image.jpg" class="md-imagereport">
                	</div>
                	<div class="md-report">
                		<img src="assets/images/defaulterror/default-image.jpg" class="md-imagereport">
                	</div>
                	<div class="md-reportlastupdate">
                	<p class="rw-btm">Last Updated 05:30 PM</p>
                	</div>
                </div>
            </li>
          
          
        </ul>
    </div>
    </div>
	</div>
</section>
			 </div>
		    <div id="test2" class="col s12">Test 2</div>
		    <div id="test3" class="col s12">Test 3</div>
		    <div id="test4" class="col s12">Test 4</div>
		     <div id="test5" class="col s12">Test 1</div>
		    <div id="test6" class="col s12">Test 2</div>
			    
  		</div>	
	  </div>
	</div>
</section>

<menubar></menubar>
<!--*********PROFILE SECTION************-->
<footer></footer>


  
<script type="text/javascript">
	$(document).ready(function(){
    $('ul.tabs').tabs();
  });
      
</script>