
<!--HEADER DIRECTIVE-->
<homenav></homenav>

<!--*********SUB MENU************-->
<submenu></submenu>

<section class="md-viewhistrorybg">
	<div class="container md-timelinecontainer">
    <div class="row">
	   <div class="col l4 m4 s12"> 
            <div class="md-onoff md-switchcenter">
               <!--  <div class="md-allswitch md-active">
                    <p class="md-pendingtxt">All</p>
                </div>
                 <div class="md-pendingswitch">
                    <p class="md-pendingtxt">Pending</p>
                </div>
                 <div>
                    <p>Pending</p>
                </div>
                 <div>
                    <p>Pending</p>
                </div> -->
                <div class="md-fourswitch">
                   <p class="md-switchtpbtm">All</p>
                </div>
                <div class="md-fourswitch">
                    <p class="md-switchtpbtm">Pending</p>
                </div>
                <div class="md-fourswitch md-active">
                   <p class="md-switchtpbtm">Shared</p>
                </div>
                <div class="md-fourswitch mtn-brt">
                   <p class="md-switchtpbtm">Shared with me</p>
                </div>
            </div> 
       </div>
       <div class="col l8 m8 s12 ">
       <form>
            <div class="input-field col s12 l6 offset-l6 m6 offset-m6 mt0px">
             <div class="md-ftl">
                <input id="email" type="email" class="validate rw-btm md-serchbox" placeholder="Search by PhoneNumber or Emailid...">
              </div>
             <div class="md-lefticon">
                 <i class="fa fa-search md-vasearch" aria-hidden="true"></i>
            </div>
            </div>
      </form>
       </div>
        <div class="col l12 m12 s12">
            <p>Today</p>
       </div>
       <div class="col l12 m12 s12 md-bordertopbtm">
            <div class="col l3 m3 s8">
              <div class="md-floatleft">  
                <img src="assets/images/defaulterror/default-image.jpg" class="md-viewhistroryimg">
              </div>
              <div  class="md-floatleft">
                <p class="md-viewhstyname">Sachin</p>
              </div>
            </div>
            <div class="col l3 m3 s4 center">
                  <p class="md-viewhstyname">8 Records</p>
            </div>
            <div class="col l3 m3 s8 center">
                <div class="md-floatleft">  
                    <img src="assets/images/defaulterror/default-image.jpg" class="md-viewhistroryimg">
                </div>
                <div  class="md-floatleft">
                  <p class="md-viewhstynameother">Kumar</p>
                  <p class="md-sharedview">Shared</p>
                </div>
            </div>
            <div class="col l3 m3 s4 center">
                 <p class="md-viewhstyname">2 hrs ago</p>
            </div>
       </div>
        <div class="col l12 m12 s12 md-bordertopbtm">
            <div class="col l3 m3 s8">
              <div class="md-floatleft">  
                <img src="assets/images/defaulterror/default-image.jpg" class="md-viewhistroryimg">
              </div>
              <div  class="md-floatleft">
                <p class="md-viewhstyname">Amul</p>
              </div>
            </div>
            <div class="col l3 m3 s4 center">
                  <p class="md-viewhstyname">4 Records</p>
            </div>
            <div class="col l3 m3 s8 center">
                <div class="md-floatleft">  
                    <img src="assets/images/defaulterror/default-image.jpg" class="md-viewhistroryimg">
                </div>
                <div  class="md-floatleft">
                  <p class="md-viewhstynameother">Ajay</p>
                  <p class="md-sharedview">Shared with me</p>
                </div>
            </div>
            <div class="col l3 m3 s4 center">
                 <p class="md-viewhstyname">2 hrs ago</p>
            </div>
       </div>
       <div class="col l12 m12 s12 md-bordertopbtm">
            <div class="col l3 m3 s8">
              <div class="md-floatleft">  
                <img src="assets/images/defaulterror/default-image.jpg" class="md-viewhistroryimg">
              </div>
              <div  class="md-floatleft">
                <p class="md-viewhstyname">Sunil</p>
              </div>
            </div>
            <div class="col l3 m3 s4 center">
                  <p class="md-viewhstyname">--</p>
            </div>
            <div class="col l3 m3 s8 center">
                <div class="md-floatleft">  
                    <img src="assets/images/defaulterror/default-image.jpg" class="md-viewhistroryimg">
                </div>
                <div  class="md-floatleft">
                  <p class="md-viewhstynameother">Request sent to Annu</p>
                  <p class="md-sharedview pending">Pending</p>
                </div>
            </div>
            <div class="col l3 m3 s4 center">
                 <p class="md-viewhstyname">3 hrs ago</p>
            </div>
       </div>
       <div class="col l12 m12 s12 md-bordertopbtm">
            <div class="col l3 m3 s8">
              <div class="md-floatleft">  
                <img src="assets/images/defaulterror/default-image.jpg" class="md-viewhistroryimg">
              </div>
              <div  class="md-floatleft">
                <p class="md-viewhstyname">Sunil</p>
              </div>
            </div>
            <div class="col l3 m3 s4 center">
                  <p class="md-viewhstyname">--</p>
            </div>
            <div class="col l3 m3 s8 center">
                <div class="md-floatleft">  
                    <img src="assets/images/defaulterror/default-image.jpg" class="md-viewhistroryimg">
                </div>
                <div  class="md-floatleft">
                  <p class="md-viewhstynameother">Request sent to Rahul</p>
                  <p class="md-sharedview accept">Accepted</p>
                </div>
            </div>
            <div class="col l3 m3 s4 center">
                 <p class="md-viewhstyname">3 hrs ago</p>
            </div>
       </div>
       <div class="col l12 m12 s12 md-bordertopbtm">
            <div class="col l3 m3 s12">
              <div class="md-floatleft">  
                <img src="assets/images/defaulterror/default-image.jpg" class="md-viewhistroryimg">
              </div>
              <div  class="md-floatleft">
                <p class="md-viewhstynameother">Venkei</p>
                  <p class="md-sharedview pending">Pending</p>
              </div>
            </div>
            <div class="col l3 m3 s12 center">
              <div class="mt16">
                  <a class="waves-effect waves-light btn md-reqbtn greenaccpt">Accept</a>
                  <a class="waves-effect waves-light btn md-reqbtn reddel">Delete Request</a>
              </div>    
            </div>
            <div class="col l3 m3 s12 center">
            </div>
            <div class="col l3 m3 s12 center">
                 <p class="md-viewhstyname">3 hrs ago</p>
            </div>
       </div>
       <!-- ****************Old Design Code************************ -->
       <!-- <div class="col l12 m12 s12 md-bordertopbtm">
            <div class="col l3 m3 s12">
              <div class="md-floatleft">  
                <img src="assets/images/defaulterror/default-image.jpg" class="md-viewhistroryimg"></div>
              <div  class="md-floatleft">
                <p class="md-viewhstyname">Name goes here</p>
              </div>
            </div>
            <div class="col l3 m3 s4 center">
                  <p class="md-viewhstyname">8 Records</p>
            </div>
            <div class="col l3 m3 s4 center">
                 <p class="md-viewhstyname md-pnding-red">--</p>
            </div>
            <div class="col l3 m3 s4 center">
                 <p class="md-viewhstyname">4 hrs ago</p>
            </div>
       </div> -->
       </div>
	</div>
</section>

<!--*********PROFILE SECTION************-->
<footer></footer>

<script type="text/javascript">
	$(document).ready(function(){
    $('ul.tabs').tabs();
     $('.fixed-action-btn').openFAB();
  $('.fixed-action-btn').closeFAB(); 

  });
      
</script>