
/*-------------login-page------------*/
.loginbox
{
width:100%;padding:15px;position:relative
}
.loginbox *
{
transition: all 0.80s ease;
}
.left-side {
    width: 50%;
    left: 50px;
    top: 35px;
    position: absolute;
  z-index:1;
  
}
.left-box-bg
{
height:100%;width:100%;position:absolute;
background-image: url('../images/sign-up.jpg');
z-index:3;
opacity:1;
}

/*.left-box-bg.active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(6px);
}*/
.right-box-bg
{
height:100%;width:100%;position:absolute;background-image: url('../images/sign-in.jpg');z-index:3;
opacity:1;
    background-size: cover;
}
.right-side.active
{
z-index:5;
animation: move-right 1s  ease-in-out;
}
.right-side.active .right-box-bg
{
animation: showpanel 1s  ease-in-out;
 width:0%;
opacity:0;
}
@keyframes move-left {
 
  0%, 100% {
   transform: translate(0px, 0);
  }
  50% {
  transform: translate(-150px, 0);
  }
}
@keyframes move-right {
 
  0%, 100% {
   transform: translate(0px, 0);
  }
  50% {
  transform: translate(150px, 0);
  }
}

@keyframes showpanel {
 0% {
  width:100%;
opacity:1;
  }
  50% {
  width:100%;
opacity:1;
  }
  100% {
  width:0%;
opacity:0;
  }
}
.left-side.active
{
z-index:5;
 animation: move-left 1s  ease-in-out;

}
.left-side.active .left-box-bg
{
animation: showpanel 1s  ease-in-out;
 width:0%;
opacity:0;
}
.nomargin
{
margin-bottom:0px;
margin-top:0px;
}

.right-side
{
  width: 50%;
    right: 50px;
    top: 0px;
    position: absolute;
  z-index:1;
    
}
.lnm-login-signup
{
  background-image: url('../images/sign-up-in-bg.jpg'); 
  height: 600px;
  padding: 15px;
  background-size: cover;
}
.ln-mt10
{
  margin-top: 20px;
}
.lmn-act
{
  font-size: 16px;
  text-align: center;
}  
.lmn-mtmblnsu
{
  
  margin-top: 4px!important;
  
}  
 .lnm-input
 {
  margin-bottom: 6px !important;
 } 
.lnm-signin
{
  
   background-color: #47A1DD !important;
  color:white !important;
  margin-top: 10px;
 }

.lmn-forgot {
    font-size: 16px;
    text-align: center;
    color: black !important;
}